.menu-container {
    background-color: #F5F5F5;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    width: fit-content;
    position: sticky;
    top: 16px;
    z-index: 10;
}