@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

.App {
  padding: 16px;
}

.pages-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

body {
  background-color: #1B1F3B;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: #FFF;
}

a {
  color: #4A90E2;
  &:hover {
    color:#00BFA6;
  }
}

sub {
  color: #667788;
}

body {
  font-family: "Nunito Sans", sans-serif;
}