.board {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.black {
    color: #000
}

.white {
    color: #FFF
}

.row {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
}

.square {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-black {
    background-color: rgb(173, 41, 41);
}

.square-white {
    background-color: rgb(237, 177, 97);
}

.candidate-move {
    background-color: rgba(255, 136, 0, 0.632);
    filter: drop-shadow(2px 4px 6px black);
}

.notation {
    display: flex;
}
.notation-col {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.board-container {
    display: flex;
}

.move-history {
    background-color: transparent;
    overflow-y: scroll;
    max-height: 500px;
    min-width: 100px;
    color: #667788;
    font-weight: bold;
}

.move-history-content {
    padding: 16px;
}

.chessboard-control {
    color: #4A90E2;
    border: none;
    background-color: #F5F5F5;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}

.chessboard-controls {
    display: flex;
    gap: 8px;
}

.chess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chess-promotion-modal {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 500px;
    align-items: center;

}

.chess-promotion-choice {
    background-color: #F5F5F5;
    padding: 16px;
    border-radius: 8px;
}