.board {
    display: flex;
    flex-direction: column;
}

.black {
    color: #000
}

.white {
    color: #FFF
}

.row {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
}

.square {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-black {
    background-color: rgb(173, 41, 41);
}

.square-white {
    background-color: rgb(237, 177, 97);
}

.candidate-move {
    background-color: rgba(255, 136, 0, 0.632);
    filter: drop-shadow(2px 4px 6px black);
}

.notation {
    display: flex;
}
.notation-col {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color: #FFF;
}

.board-container {
    display: flex;
}

.move-history {
    background-color: transparent;
    overflow-y: scroll;
    max-height: 500px;
    min-width: 100px;
    color: #667788;
    font-weight: bold;
}

.move-history-content {
    padding: 16px;
}

.chessboard-control {
    color: #4A90E2;
    border: none;
    background-color: #F5F5F5;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}

.chessboard-control-active {
    border: 1px solid #F5F5F5;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    background-color: #1B1F3B;
    color: #FFF;
}

.chessboard-controls {
    display: flex;
    gap: 8px;
    padding: 8px;
    justify-content: center;
}

.chess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.chess-modal {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    z-index: 10;
    background-color: #1B1F3B;
    color: #FFF;
    opacity: 0.8;
}

.chess-promotion-choice-white {
    color: 'white';
    background-color: #1B1F3B;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #FFF;
}

.chess-promotion-choice-black {
    background-color: #F5F5F5;
    color: #000;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #000;
}

.chess-modal-container {
    display: 'flex';
    justify-content: center;
    position: relative;
}

